@mixin flex($flexFlow: row wrap, $justifyContent: center, $alignItems: center) {
  display: flex;
  flex-flow: $flexFlow;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin headerCart {
  background-color: $white;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  @include flex($flexFlow: none);
  box-shadow: 1px 0px 7px -2px;
  & svg {
    font-size: 20px;
  }
}

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
